<main>
    <div class="section">
        <div class="container">
            <ul class="film-list" id="film-list">
                <!-- <li class="film-item" id="film-item">
                    <img class="film-poster" src="./images/header/abstract-background-with-red-lines.jpg" width="500" height="auto" alt="title">
                    <div class="film-info">
                        <h2 class="film-title">title</h2>
                        <p class="film-specs">film specs| 2020</p>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</main>