.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-svg-wrap{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
}
.logo-link{
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;

    color: var(--link-text);
}
